.link-back {
  border: none;
  background-color: transparent;
  margin-bottom: 10px;
  cursor: pointer;
  padding: 0;
  text-decoration: underline solid black;
}

.list-answers {
  list-style-type: none;
  padding: 0;
  margin: 0 0 12px 0;
}

.title {
  font-weight: bold;
}
